<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>edit_page</title>
    </head>
    <body>
        <form class="" action="{% url 'blog:edit_action' %}" method="post">
            {% csrf_token %}
            <label for="">
                文章标题
                <input type="text" name="title" value="">
            </label>
            <br>
            <label for="">
                文章内容
                <input type="text" name="content" value="">
            </label>
            <br>
            <input type="submit" name="submit" value="提交">
        </form>
    </body>
</html>
